<div id="track-title">
  <h1><strong><%= @track.title%></strong></h1>
</div>

<% @sections.each do |section| %>
    <div class="section-title">
      <h2><strong> <%= section.title %> </strong></h2>
    </div>

    <% @subsections = Subsection.where(section_id: section.id) %>
    <%= render 'sections/sections', subsections: @subsections%>
<% end %>