<div class="subsection-and-submission-container">
      <div class="subsection-container" data-subsection-id="<%=subsection.id%>">
        <%= render 'subsections/subsection_resources', subsection: subsection %>
      </div>
      <%= render 'subsections/submit_resource', subsection: subsection%>

      <!-- <div class="btn-group">
        <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Submit<span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div> -->
</div>