<% if user_signed_in? %>
  <div class="submit-container">
    <form class="submit-resource-form">
      <br>
      <div class="submit-textbox-container">
        <input type="text" name="title" placeholder="Descriptive Title">
        <input type="text" name="url" placeholder="http://www.example.com">
        <input type="hidden" name="subsection_id" value=<%=subsection.id%>>
      </div>
      <br>
      <div class ="submit-button">
        <input type="submit" class="btn btn-success" value="Add Resource">
      </div>
    </form>
  </div>
<% end %>