<div class="subsection-and-submission-container">
      <div class="subsection-container" data-subsection-id="<%=subsection.id%>">
        <%= render 'subsections/subsection_resources', subsection: subsection %>
      </div>
      <%= render 'subsections/submit_resource', subsection: subsection%>
</div>