<div class="resource-body">

  <div class="arrow-up"></div>
  <div class="arrow-down"></div>
  <div class="resource-content">
    <h4><a href="<%= resource.url %>"><%= resource.title %></a></h4>
  </div>
  <div class="resource-section-id">
    <span hidden><%=resource.section_id%></span>
  </div>
</div>