<head>
<link rel="stylesheet" type="text/css" href="../assets/track.css">
</head>
<body>

<div id="track-title">
  <h1><strong> <%= @track.title %> </strong></h1>
</div>

<% @sections.each do |section| %>
  <div class="section-title">
    <h3> <%= section.title %> </h3>
  </div>
  <% resources = Resource.where(section_id: section.id) %>
  <% p "!"*25 %>
  <% p resources %>
  <% resources.each do |resource| %>
    <div class="resource-body">
      <!-- Later this href needs to be changed when support for multiple submission types is added -->
      <a href="<%=resource.url%>"><%= resource.title %></a>

    </div>
  <% end %>

  <br>
<% end %>



</body>