<head>
<link rel="stylesheet" type="text/css" href="track.css">
</head>
<body>

<div id="track-title">
  <h1><strong> <%= @track.title %> </strong></h1>
</div>

<% @sections.each do |section| %>
  <div class="section-title">
    <h3> <%= section.title %> </h3>
  </div>
  <br>
<% end %>



</body>