<% @subsections.each do |subsection| %>
  <div class="subsection-title">
    <h3><strong> <%= subsection.title %> </strong></h3>
  </div>
  <%= render 'subsections/subsections', subsection: subsection %>
<% end %>