<div class="resource-body" data-resource-subsection-id="<%=resource.subsection_id%>" data-resource-id="<%=resource.id%>">

  <div class="upvote">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </div>
  <div class="resource-content">
    <h4><a href="<%= resource.url %>"><%= resource.title %></a></h4>
  </div>
  <% if resource.media_type == "article" %>
      <span class="glyphicon glyphicon-globe"></span>
  <% elsif resource.media_type == "video" %>
      <span class="glyphicon glyphicon-film"></span>
    <% end %>
</div>